<!DOCTYPE html>
<html>
<head>
  <title>VanillaRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<!-- use if in need of style scoped on a controller -->
<!--<body id="<%#= params[:controller].parameterize %>_controller">-->
<body>
  <div class="container">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %><br/>
      <%= current_user.twitter.followers.first.name %> |
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Login", new_user_session_path %> |
      <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %> |
    <% end %>
    <% if notice %><div class="alert alert-info" role="alert"><%= notice %></div><% end %>
    <% if alert %><div class="alert alert-warning" role="alert"><%= alert %></div><% end %>

        <!--<a class="close" data-dismiss="alert">×</a>-->

    <%= yield %>

  </div>
</body>
</html>
